<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=competition%></title>
    <%- include('partials/bootstrap') %> 
    <style>
        table.table {width: auto;}
        table.table-50 {width: 50%;}
    </style>
</head>
<body>

    
     <%- include('partials/navbar') %> 
    <h1><%=competition%></h1>
    <h2>Standings</h2>
    <table class="table table-bordered table-dark">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Competitor</th>
            <th scope="col">GP</th>
			<th scope="col">W</th>
			<th scope="col">D</th>
			<th scope="col">L</th>
            <th scope="col">Points</th>
        </thead>
        <tbody>
            <%let count = 1%>
            <%for (standing of standings) { %>
                
                <tr>
                    <td><%=count + '.'%></td>
                    <td><%=standing.competitor%></td>
                    <td><%=standing.games_played%></td>
                    <td><%=standing.wins%></td>
                    <td><%=standing.draws%></td>
                    <td><%=standing.losses%></td>
                    <td><%=standing.points%></td>
                </tr>
                <%count = count + 1%>
            <%}%>    
        </tbody>
    </table >

    <%for (let key of games.keys()) {%>
        <h2><%=key%>. Round</h2>
        <%for (let game of games.get(key)) {%>
            <table class="table-50 table-striped">

                <thead>
                    <th class="w-25"  scope="col"></th>
                    <th class="w-25"  scope="col"></th>
                    <th class="w-25"  scope="col"></th>
                    <th class="w-25" scope="col"></th>
                    <th class="w-25"  scope="col"></th>
                    <th class="w-25" scope="col"></th>
           
                </thead>
                <form method="post">
                    <tr>
                        <td  scope="row"><%=game.first_name%></td>

                        <% if(isAuthenticated) { %>
                            <input type="hidden" name="game_id" value=<%=game.game_id%>/>
                        <% } %>

                        <td  scope="row">
                            <%if(isAuthenticated) {%>
                                <div>
                                    <input type="number" name="first_score" min="0" required
                                     <% if(game.first_score) { %> value=<%=game.first_score%> <% } %>
                                    >                                
                                </div>
                            <%} else if(game.first_score !== undefined) {%>
                                <%=game.first_score%>
                            <%}%>
                        </td>

                        <td  scope="row">-</td>

                        <td  scope="row">
                            <%if(isAuthenticated) {%>
                                <div>
                                    <input type="number" name="second_score" min="0" required
                                     <% if(game.second_score) { %> value=<%=game.second_score%> <% } %>
                                    >                                
                                </div>
                            <%} else if(game.second_score !== undefined) {%>
                                <%=game.second_score%>
                            <%}%>
                        </td>

                        <td  scope="row"><%=game.second_name%></td>

                        <% if(isAuthenticated) {%>

                            <td scope="row"><button type="submit">Submit score</button></td>
                        <%}%>
                    </tr>     
                </form>            
            </table>
        
        <%}%>
    <%}%>    
</body>
</html>